/* You can add global styles to this file, and also import other style files */
html, body, main{
    padding: 0;
    margin:0;
    overflow: hidden;
    font-size:18px;
    box-sizing: border-box;
}


form{
    display: flex;
    flex-flow: column wrap;
    padding:20px;
    justify-content: space-between;
    align-items: center;
  

}

form>*{
    margin: 10px;
  

}
input{
    margin: 20px;
   border: none;
   box-shadow: 0 2px 5px #C4C4C4;
   padding:15px;
}
.ng-valid{
 transform:scale(1.1) ;
}

form.ng-touched {
    background-color: yellow;
}
input.ng-touched{
    
}
/* .ng-dirty{

} */